<h1>Login</h1>

<%= form_with(scope: :session, url: login_path, local: true, data: { turbo: false }) do |f| %>

    <p>
        <%= f.label :email %> <br>
        <%= f.email_field :email, placeholder: "Enter your email" %> 
    </p>
 
    <p>
        <%= f.label :password %> <br>
        <%= f.password_field :password %> 
    </p>

    <p>
        <%= f.submit("Log in") %>
    </p>

<% end %>