<h1>Article List</h1>

<%= will_paginate @articles, :container => false %>

<%= render 'article' %>
<p>
    <% if logged_in? %>
    <%= link_to 'Add', new_article_path %>
    <%= link_to 'Home', root_path %>
    <% end %>
<p>

<%= will_paginate @articles, :container => false %>


