<h1><%= @user.username %>'s profile</h1>
<% # galima ir su skliausteliais pasirodo :) %>
<%= gravatar_for(@user, size: 200) %>

<div>
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn" %>
</div>

<h3> User articles: </h3>

<%= will_paginate @articles, :container => false %>

<%= render "articles/article" %>

<%= will_paginate @articles, :container => false %>