<%= render "users/form/form_errors" %>

<%= form_with(model: @user, local: true, data: { turbo: false }) do |f| %>

    <p>
        <%= f.label :username %> <br>
        <%= f.text_field :username, placeholder: "Enter a username" %>
    </p>

    <p>
        <%= f.label :email %> <br>
        <%= f.email_field :email, placeholder: "Enter your email" %> 
    </p>
 
    <p>
        <%= f.label :password %> <br>
        <%= f.password_field :password %> 
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>