<div>
<p>
<%= link_to "Home", root_path, class:"navbarItem" %>
<%= link_to "Article", articles_path, class:"navbarItem" %>
<%= link_to "New Articles", new_article_path, class:"navbarItem" %>
<%= link_to "Login", signup_path, class:"navbarItem" %>
<%= link_to "Bloggers", users_path, class:"navbarItem" %>
</p>
</div>